@font-face {
  font-family: "TT Lakes";
  src: url(../fonts/ttlakes-bold.woff2), url(../fonts/ttlakes-bold.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url(../fonts/ttlakes-medium.woff2), url(../fonts/ttlakes-medium.woff);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url(../fonts/ttlakes-regular.woff2), url(../fonts/ttlakes-regular.woff);
  font-weight: normal;
  font-style: normal;
}
