@import url("fonts.css");

body {
  font-family: "TT Lakes", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  min-width: 320px;
  /* overflow-x: hidden; */
  color: #1b1c21;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ______________________________________________________________________ */
/* UPPER-MENU */

.header__inner {
  padding: 18px 16px;
  border-bottom: 1px solid #d9fff5;
  background-color: #fff;
}

.upper-menu {
  display: flex;
  align-items: center;
  column-gap: 17px;
}

.logo__link,
.logo__img {
  display: block;
}

.button {
  width: 40px;
  height: 40px;
  border: 0;
  background-color: #ffffff;
  border-radius: 50%;
}

.button--burger {
  background: url("../img/icons/burger.svg") no-repeat 50% 50%;
}

/* .upper-menu__button--burger {
  margin-right: 17px;
} */

.divider {
  width: 2px;
  height: 32px;
  border-radius: 1px;
  background-color: #eaeaea;
}

.button--phone {
  background: url("../img/icons/call.svg") no-repeat 50% 50%;
}

.button--chat {
  background: url("../img/icons/chat.svg") no-repeat 50% 50%;
}

.button--profile {
  background: url("../img/icons/profile.svg") no-repeat 50% 50%;
}

.upper-menu__divider--right {
  margin-left: auto;
}

.button--repair {
  background: url("../img/icons/repair.svg") no-repeat 50% 50%;
}

/* .upper-menu__button--repair {
  margin-right: 16px;
} */

.button--check {
  background: url("../img/icons/checkstatus.svg") no-repeat 50% 50%;
}

/* _____________________________________________________________________________ */
/* SLIUDE-MENU */
/* .header__slide-menu {
  padding: 24px 0;
} */

.title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  position: relative;
}

.title::before {
  content: "";
  position: absolute;
  left: -20px;
  width: 8px;
  height: 40px;
  background-color: #41f6d7;
  border-radius: 10px;
}

.header__title {
  margin: 24px 16px;
}

.menu {
  margin: 0;
  padding: 0;
  overflow-x: scroll;
  list-style: none;
  display: flex;
}

.header__menu {
  margin: 0 0 24px 16px;
}

.menu__link {
  display: block;
  text-decoration: none;
  color: #7e7e82;
  padding: 8px 10px 8px 16px;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
}

.menu__link--active {
  background-color: #fff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}

/* _____________________________________________________________________ */
/* SECTION ABOUT */

.about__content {
  margin: 0 16px;
}

.about__description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
  max-height: 90px;
  overflow: hidden;
}

.spoiler {
  padding-left: 32px;
  background-color: transparent;
  border: 0;
  background: url("../img/icons/icon.svg") no-repeat 8px 50%;
  font-size: 16px;
  font-family: inherit;
  font-weight: 500;
  line-height: 24px;
}

.about__spoiler {
  margin: 16px 0;
}

.about__img {
  margin: 0 auto;
  display: block;
}
