@media (min-width: 768px) {
  /* HEADER - TOP-MENU */

  .header__container-top {
    padding: 0 24px;
  }

  .header__tablet {
    display: block;
  }

  .button--phone {
    background: url("/img/icons/call.svg") no-repeat 50% 50%;
    margin-left: auto;
  }

  .button--chat {
    background: url("/img/icons/chat.svg") no-repeat 50% 50%;
  }

  .button--profile {
    background: url("/img/icons/profile.svg") no-repeat 50% 50%;
  }

  .divider--right {
    margin-left: 0;
  }

  /* HEADER - MENU */
  .header__title {
    margin: 24px auto 32px 24px;
  }

  .title::before {
    left: -28px;
  }

  .header__menu {
    margin-left: 24px;
  }

  /* SECTION - ABOUT */
  .about__container {
    padding: 32px 24px;
    display: flex;
    column-gap: 48px;
  }

  .about__content {
    padding: 0;
  }

  .about__description {
    line-height: 20px;
    max-height: 160px;
  }

  .about__spoiler {
    margin: 10px 0 0 0;
  }

  .about__img {
    border-radius: 6px;
  }
}

@media (min-width: 1120px) {
  .header__mobile,
  .header__tablet {
    display: none;
  }
  /* HEADER */
  .header__container {
    padding: 42px 32px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 8px;
  }

  .header__container-top {
    padding: 0;
    border-bottom: 0;
    background-color: inherit;
    min-width: 375px;
    margin-left: auto;
  }

  .header__top-menu {
    padding: 0;
  }

  .top-menu {
    column-gap: 160px;
    justify-content: flex-end;
  }

  .button--repair::before {
    content: "Оставить заявку";
    position: absolute;
    left: -135px;
    top: 50%;
    margin-top: -12px;
    font-family: "TT Lakes", "Arial", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .button--check::before {
    content: "Статус заявки";
    position: absolute;
    left: -119px;
    top: 50%;
    margin-top: -12px;
    font-family: "TT Lakes", "Arial", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .header__title {
    margin: 0;
    order: -1;
    flex-grow: 1;
    min-width: 600px;
  }

  .title::before {
    left: -37px;
  }

  .header__menu {
    margin-left: 0;
  }

  .menu__list {
    overflow-x: hidden;
    flex-wrap: wrap;
  }

  /* SECTION - ABOUT */
  .about__container {
    padding: 7px 34px 51px;
    column-gap: 36px;
  }

  .about__content {
    padding-top: 9px;
  }

  .about__spoiler {
    margin-top: 14px;
  }
}
