@media (min-width: 768px) {
  /* HEADER - TOP-MENU */

  .header__container-top {
    padding: 0 24px;
  }

  .header__tablet {
    display: block;
  }

  .top-menu::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 80px;
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-color: #eaeaea;
  }

  .header__button--burger {
    margin-right: 17px;
  }

  .header__button--repair {
    margin-left: 0;
  }

  .top-menu::after {
    right: 137px;
  }

  .header__button--phone {
    margin-left: auto;
  }

  .header__button--profile {
    margin-right: 17px;
  }

  /* HEADER - MENU */
  .header__title {
    margin: 24px auto 32px 24px;
  }

  .title::before {
    left: -28px;
  }

  .header__menu {
    margin-left: 24px;
  }

  /* SECTION - ABOUT */
  .about {
    display: flex;
    column-gap: 48px;
  }

  .main__about {
    padding: 32px 24px;
  }

  .about__content {
    padding: 0;
  }

  .about__container-description {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-height: 160px;
  }

  .about__description {
    line-height: 20px;
  }

  .about__spoiler {
    margin: 10px 0 0 0;
  }

  .about__img {
    border-radius: 6px;
    width: 360px;
    height: 208px;
  }
}

@media (min-width: 1120px) {
  .header__mobile,
  .header__tablet {
    display: none;
  }
  /* HEADER */
  .header__container {
    padding: 42px 32px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 8px;
  }

  .header__container-top {
    padding: 0;
    border-bottom: 0;
    background-color: inherit;
    margin-left: auto;
  }

  .header__top-menu {
    padding: 0;
  }

  .top-menu {
    column-gap: 32px;
  }

  .header__button-desktop {
    display: flex;
    column-gap: 9px;
    align-items: center;
  }

  .button__description {
    display: inline;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  .top-menu::before,
  .top-menu::after {
    display: none;
  }

  .header__title {
    margin: 0;
    order: -1;
  }

  .title::before {
    left: -37px;
  }

  .header__menu {
    margin-left: 0;
  }

  .menu__list {
    overflow-x: hidden;
    flex-wrap: wrap;
  }

  /* SECTION - ABOUT */
  .about {
    column-gap: 36px;
  }

  .main__about {
    padding: 7px 32px 51px 32px;
  }

  .about__content {
    padding-top: 9px;
  }

  .about__spoiler {
    margin-top: 14px;
  }

  .about__img {
    width: 532px;
    height: 307px;
  }
}
